[defaults]
inventory = hosts
remote_user = student
private_key_file = ~/.ssh/id_rsa
timeout = 60
interpreter_python = /usr/bin/python

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=120 -o ControlPersist=300s
pipelining = True
